@page "/FilmDetail/{id:guid}"
@using Client.Data.IServices.IReadOnlyService
@using Client.DataTransferObj.Films
@using Client.ValueObj.Pagination
@layout MainLayout 
@inject IReadOnlyWPService<FilmDto,FilmsWithPaginationRequest> _Ser
@inject NavigationManager naviga

<div class="container-fluid  justify-content-center" style="background-image:url(./images/top-rated-bg.jpg);min-height:670px;padding-bottom:100px">
    <div style="padding-top:100px;min-height:501.67px" class="container d-flex justify-content-between flex-wrap ps-0 pe-0">
        @if (FilmDetail != null)
        {
            string img = FilmDetail.Image;
            <div Style="min-width:335.44px;max-width:100%;margin-top:30px;background-color: rgba(0, 0, 0, 0)" Class="btn p-0 m-0" data-mdb-ripple-color="light">
                <img Height="510" src="./images/@img" />
            </div>
            <div Style="min-width:60%;max-width:100%;background-color: rgba(0, 0, 0, 0)" Class=" p-0">
                <div class="container d-flex" style="min-height:510px">
                    <div class="container justify-content-start">
                        <div class="container d-flex align-items-center p-0 m-0" style="min-height:160px">
                            <p class="text-light fw-bold text-start" style="font-size:35px;width:100%">@FilmDetail.Name</p>
                        </div>
                        <ul>
                            <li class="text-light fs-5 mb-3 text-start">
                                <p>
                                    <b>
                                        Episodes :
                                    </b>
                                    @FilmDetail.TotalEpisode
                                </p>
                            </li>
                            <li class="text-light fs-5 mb-3 text-start">
                                <p>
                                    <b>
                                        Lastest :
                                    </b>
                                    1
                                </p>
                            </li>
                            <li class="text-light fs-5 mb-3 text-start">
                                <p>
                                    <b>
                                        Director :
                                    </b>
                                    Bo The Dep Zai
                                </p>
                            </li>
                            <li class="text-light fs-5 mb-3 text-start">
                                <p>
                                    <b>
                                        Actors :
                                    </b>
                                    Bo The Dep Zai, Bo The Sieu Dep Zai
                                </p>
                            </li>
                            <li class="text-light fs-5 mb-3 text-start">
                                <p>
                                    <b>
                                        Year :
                                    </b>
                                    @FilmDetail.Year
                                </p>
                            </li>
                            <li class="text-light fs-5 mb-3 text-start">
                                <p>
                                    <b>
                                        Duration : 
                                    </b>
                                    @if (FilmDetail.AvgDuration != TimeSpan.Zero)
                                    {
                                        @FilmDetail.AvgDuration
                                    }
                                    else
                                    {
                                        
                                    }
                                </p>
                            </li>
                        </ul>
                        <div class="container-fluid d-flex p-0 m-0 justify-content-start">
                            <MudButton OnClick="()=>Watch(FilmDetail.ID)" Variant="Variant.Outlined" Class="fs-6 fw-bold text-light border-3 rounded-pill mt-4" Style="border-color:hsl(57, 97%, 45%);min-width:16%;height:50px;"><MudIcon Icon="@Icons.Material.Filled.PlayArrow" Class="me-2"></MudIcon> WATCH NOW</MudButton>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <MudProgressCircular Color="Color.Default" Indeterminate="true" />
        }
    </div>
</div> 


<div style="background-image:url(./images/top-rated-bg.jpg)" class="container-fluid d-flex justify-content-center">
    <div class="container" style="margin-bottom:30px;min-height:100px;background-color:hsl(207, 19%, 11%);">
        <div class="container m-0 p-0">
            <MudText Class="fs-3 fw-bold text-light">SUMMARY</MudText>
        </div>
        <p class="text-light ">
           @FilmDetail.Description
        </p>
    </div>
</div>  


<div class="container-fluid justify-content-center" style="background-image:url(./images/upcoming-bg.png);min-height:870px;padding-bottom:100px">
    <div class="container" style="padding-top:100px">
        <div class="container d-flex justify-content-center">
            <div class="fs-6 m-0 p-0" style="color:hsl(57, 97%, 45%);">ONLINE STREAMING</div>
        </div>
        <div class="container d-flex justify-content-center" style="margin-bottom:30px">
            <div class="container-fluid d-flex justify-content-center d-flex m-0 p-0">
                <div style="font-size:40px;" class="m-0 p-0 mt-4 text-light fw-bold">
                    World Best TV Series
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-between flex-wrap" style="margin-top:50px">

        <MudElement class="container d-flex justify-content-between flex-wrap pt-5 mt-5">

            @if (rsSR.Data != null)
            {
                @foreach (var i in rsSR.Data)
                {
                    string img = i.Image;
                    <MudButton OnClick="()=>Detail(i.ID)">
                        <MudCard Style="min-width:24%;max-width:100%;margin-top:30px;background-color: rgba(0, 0, 0, 0)" Class="btn" data-mdb-ripple-color="light">
                            <img Height="400" src="./images/@img" />
                            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                                <MudText Class="ms-0 me-0">@i.Name</MudText>
                                <MudText Class="ms-0 me-0" Typo="Typo.body2">@i.Year</MudText>
                            </MudCardContent>
                            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                                <MudRating Class="ms-0 me-0" ReadOnly="true" SelectedValue="@i.AvgRating.GetValueOrDefault()" />
                                <MudText Class="ms-0 me-0" Typo="Typo.body2">
                                    @if (i.AvgDuration != TimeSpan.Zero)
                                    {
                                        @i.AvgDuration
                                    }
                                    else
                                    {

                                    }
                                </MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudButton>
                }
            }
            else
            {
                <MudProgressCircular Color="Color.Default" Indeterminate="true" />
            }

        </MudElement>

    </div>
</div>

@code{
    [Parameter]
    public Guid id {get ; set;}

    private FilmDto FilmDetail = new FilmDto();
    FilmsWithPaginationRequest requestSR = new FilmsWithPaginationRequest();
    PaginationResponse<FilmDto> rsSR = new PaginationResponse<FilmDto>();

    protected override async Task OnInitializedAsync()
    {
        await LoadSR();
        FilmDetail = await _Ser.GetById(id);
        
    } 

    public async Task LoadSR()
    {
        // requestSR.Rating = 5;
        requestSR.Genre = Guid.Parse("1A860E75-0C55-485D-616C-08DC9E33318A");
        requestSR.PageSize = 4;
        rsSR = await _Ser.GetAll(requestSR);
    }

    public async Task Detail(Guid id)
    {
        naviga.NavigateTo($"/FilmDetail/{id}");
        FilmDetail = await _Ser.GetById(id);
    } 

    public async Task Watch(Guid id)
    {
        naviga.NavigateTo($"/WatchingFilm/{id}");
    }

}

